<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This app is created by Forkan Uddin Ahmed. This app shows weather update by using apis provided by mapbox and openweathermap.</p>
            <img class="portrait" src="/img/@.png" alt="Not found">
        </div>    
        {{>footer}}
    </body>
</html>